{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>
    <a href="{{ path('new_employe') }}">Ajouter un employé</a>
    <br>
    <table class="table table-striped">
        <tbody>
            {% for employe in employes %}
                <tr><th>
                    <a href="{{ path('show_employe', {'id':employe.id}) }}">{{employe }}</a><br>
                </th></tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
